
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+Bhai+2&family=Bree+Serif&family=Edu+SA+Beginner&family=Roboto&family=Ubuntu:wght@300&family=Ultra&display=swap');

html,body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border:2px solid black;
    border-radius: 7px;
 width: 66px;
    cursor: pointer;
}
.row{
margin: 8px 0;
padding:0 ;
color: white;
background-color: rgba(0, 0, 10, 0.658);
}
.row input{
    border:2px solid black;
    border-radius: 9px;
    margin:5px;
padding:19px 27px ;
width: 230px;
font-size: 16px;
}
.screen{
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
}
.r1 button{
    color: rgb(80, 243, 5);
    background-color: rgba(0, 0, 0, 0.842);
}
#green{
    color: rgb(80, 243, 5);
    background-color: rgba(0, 0, 0, 0.842);
}
.r2 button{
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
}
